.navbar {
  display: flex;
  align-items: center;
  height: 50px;
  color: #555;
  font-size: 14px;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;

    .search {
      display: flex;
      align-items: center;
      padding: 3px;
      border: 0.5px solid lightgray;

      input {
        background-color: transparent;
        border: none;
        outline: none;

        &::placeholder {
          font-size: 12px;
        }
      }
    }

    .items {
      display: flex;
      align-items: center;

      .item {
        position: relative;
        display: flex;
        align-items: center;
        margin-right: 20px;

        .icon {
          font-size: 20px;
        }

        .counter {
          position: absolute;
          top: -5px;
          right: -5px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 15px;
          height: 15px;
          color: white;
          font-weight: bold;
          font-size: 10px;
          background-color: red;
          border-radius: 50%;
        }

        .avatar {
          width: 25px;
          height: 25px;
          border-radius: 50%;
        }
      }
    }
  }
}
