@import "../../style/colors";

.sidebar {
  flex: 1;
  min-height: 100vh;
  border-right: 0.5px solid rgb(230 227 227);

  .top {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;

    .logo {
      color: $congressBlue;
      font-weight: bold;
      font-size: 20px;
    }
  }

  .center {
    padding-left: 10px;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      .title {
        margin-top: 15px;
        margin-bottom: 5px;
        color: #999;
        font-weight: bold;
        font-size: 12px;
      }

      li {
        display: flex;
        align-items: center;
        padding: 5px;
        cursor: pointer;

        &:hover {
          background-color: $congressBlueLight;
        }

        .icon {
          color: $congressBlue;
          font-size: 18px;
        }

        span {
          margin-left: 10px;
          color: $slateGray;
          font-weight: 600;
          font-size: 15px;
        }
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    margin: 10px;

    .colorOption {
      width: 20px;
      height: 20px;
      margin: 5px;
      border: 1px solid #3d23dc;
      border-radius: 5px;
      cursor: pointer;

      &:nth-child(1) {
        background-color: whitesmoke;
      }

      &:nth-child(2) {
        background-color: #333;
      }
    }
  }
}
